* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #1f2937;
  height: 70px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.navbar .container {
  color: #f9faf8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10%;
  height: 100%;
}

.navbar ul {
  list-style-type: none;
  display: flex;
}

.navbar a {
  text-decoration: none;
  color: inherit;
  margin-left: 20px;
  font-size: 18px;
}

.header {
  background-color: #1f2937;
  color: #f9faf8;
  padding: 100px 10%;
  display: flex;
  align-items: center;
}

.header .container {
  flex: 2;
}

.header h1 {
  font-size: 48px;
  font-weight: bold;
}

.header img {
  background-color: gray;
  flex: 3;
  margin-left: 100px;
  height: 200px;
}

.header button {
  background-color: #3882f6;
  border-radius: 8px;
  border-style: none;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
  padding: 8px 30px;
}

.info-header {
  font-size: 36px;
  font-weight: bold;
  color: #1f2937;
  text-align: center;
  padding: 35px 0px;
}

.boxes {
  display: flex;
  justify-content: space-between;
  gap: 48px;
  padding: 0px 15%;
  text-align: center;
  height: 400px;
}

.box {
  border-style: solid;
  border-color: #3882f6;
  border-radius: 24px;
  width: 100%;
  aspect-ratio: 1;
  margin-bottom: 10px;
}

.quote {
  display: flex;
  flex-flow: column;
  background-color: #e5e7eb;
  padding: 0px 19%;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.quote-body {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1f2937;
  margin-top: 20px;
}

.quote-owner {
  align-self: flex-end;
  margin-right: 40px;
}

.call {
  display: flex;
  background-color: #3882f6;
  color: #f9faf8;
  justify-content: space-between;
  align-items: center;
  margin: 70px 10%;
  padding: 50px 8%;
  border-radius: 12px;
}

.call h4 {
  font-size: 20px;
}

.call button {
  border-style: solid;
  border-color: #f9faf8;
  padding: 8px 35px;
  border-radius: 8px;
  color: #f9faf8;
  font-size: 14px;
  font-weight: 900;
  box-shadow: none;
  background-color: #3882f6;
}

.footer {
  background-color: #1f2937;
  color: #f9faf8;
  height: 100px;
}

.footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10%;
  height: 100%;
}
